.container {
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;
    width: 1060px;
    height: 1170px;
    margin: 86px auto 135px;
    padding: 41px 28px 31px 29px;
    background: $gray;
    border : {
        style: solid;
        width: 2px;
        radius: 15px;
        color: $border-gray;
    }  
}

.container__header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    .header__h1 {
        @include font-style($font-Robo, $font-24, $font-w700, $black);
        text-align: center;
       }
    .header__hr {
        width: 650px;
        color: $border-gray;
        margin-top: 37px;
    }
    .header__nav {
        margin: 28px auto 28px;
        text-align: center;
        a { 
            text-decoration: none;
            @include font-style($font-Robo, $font-16, $font-w500, $font-gray);
            margin-right: 60px;
            &:hover {
                @include font-style($font-Robo, $font-16, $font-w900, $black);
            }
        } 
    }
}

.container__section {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1003px;
    height: 962px;
    margin: 0 auto 31px;
    display: inline-block;
    background: $white; 
    border: 2px solid $border-gray;
    border-radius: 15px;
    
    .container__movie {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-grid;
        grid-template-columns: repeat(4, 220px);
        grid-template-rows: repeat(2, 441px);
        gap: 23px;
        list-style: none;
        margin: 26px 27px 30px;
        padding-left: 0px;

        .movie__wrap {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid $border-gray;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

        }

        .movie__tit {
            padding: 19px 20px 14px;
            .movie__strong {
                @include font-style($font-Noto, $font-16, $font-w900, $black);
            }

            .movie__img {
                margin-bottom: 11px;
            }
        }

        .movie__info {
            width: 180px;
            margin: 0 20px 18px;
            .div__summary,
            .div__release,
            .div__appearance {
                float: left;
                margin-bottom: 5px;
            }

            .div__grade {
                float: right;
                margin-bottom: 5px;
            }

            p {
                @include font-style($font-Noto, $font-13, $font-w400, $font-gray);
                line-height: 18.82px;
                display: inline-block;
                }
        
            span{
                @include font-style($font-Noto, $font-13, $font-w400, $black);
                line-height: 18.82px;
                }

            .grade__span {
                &::before {
                    content: "";
                    background-image: url("../img/Star\ 1.png");
                    background-size: 14px 14px;
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .movie__button {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            display: inline-block;
            position: relative;
            margin-top: 15px;
            width: 220px;
            height: 41px;
            background: $gray;
            border-top: 1px solid $border-gray;
            
            .movie__v-line {
                position: absolute;
                border-left: 1px solid $border-gray;
                height: 50px;
                left: 50%;
            }
            

            button {
                @include font-style($font-Noto, $font-14, $font-w500, $black);
            }

            .movie__ticketing {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                float: left;
                padding: 9px 28px 12px 27px;
                background: $gray;
                line-height: 20.27px;
            }

            .movie__teaser {
                &::before {
                    content: "";
                    background-image: url("../img/play-circle.png");
                    background-size: 16px 16px;
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 2px;
                }
                padding: 9px 32px 12px 23px;
                background: $gray;
                float: right;
                line-height: 20.27px;
            }
        }
    }
}
 