//색상
$black: #000000;
$white: #FFFFFF;
$gray: #F2F2F2;
$font-gray: #828282;
$border-gray: #BDBDBD;
$foo-gray: #4f4f4f;


//폰트
$font-Robo: 'Roboto', sans-serif;
$font-Noto: 'Noto Sans KR', sans-serif;

$font-24: 24px;
$font-22: 22px;
$font-16: 16px;
$font-14: 14px;
$font-13: 13px;

$font-w900: 900;
$font-w700: 700;
$font-w500: 500;
$font-w400: 400;


